<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Food创建的控制权交给Spring -->
    <!-- 通过构造方法实例对象-->
    <bean id="food" class="spring.ioc.Food" scope="prototype">
        <!-- 设置属性 -->
        <property name="kind" value="水果"/>
        <property name="name" value="香蕉"/>
        <property name="taste" value="甜甜的"/>
    </bean>

    <!--&lt;!&ndash; 通过静态工厂实例对象 &ndash;&gt;-->
    <!--<bean id="food2" class="spring.ioc.FoodStaticFactory" factory-method="getFood"/>-->

    <!--&lt;!&ndash; 通过实例工厂实例对象 &ndash;&gt;-->
    <!--<bean id="foodFactory" class="spring.ioc.FoodFactory" scope="singleton"/>-->
    <!--<bean id="food3" factory-bean="foodFactory" factory-method="getFood"/>-->

    <!-- Bean生命周期 -->
    <bean id="lifeCircleTest" class="spring.ioc.LifeCircleTest" init-method="setUp" destroy-method="teardown">
        <property name="name" value="testName"/>
    </bean>
    <bean class="spring.ioc.MyBeanPostProcessor"/>

</beans>